.detail {
  width: 30vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: sticky;
  top: 3.5rem;
}

h2 {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}

.information {
  background-color: white;
  width: 20rem;
  height: 40rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s;
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1);
}

.information>figure{
  height: 50%;
}

.information>a {
  color: black;
}
